/* line 26, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

/* line 32, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
body {
  background: #f6f8f8;
}

/* line 35, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promos {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 39, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo {
  margin: 1em .5em 1.625em;
  padding: .25em 0 2em;
  background: #0F1012;
  line-height: 1.625;
  color: #f9f9f9;
  text-align: center;
}
@media (min-width: 40em) {
  /* line 39, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
  .promo {
    display: inline;
    float: left;
    width: 33.333%;
    margin: 1em 0 0;
  }
  /* line 53, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
  .promo.first {
    border-right: none;
  }
  /* line 56, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
  .promo.second {
    float: right;
    border-left: none;
  }
}
/* line 61, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo h4 {
  margin: .25em 0 0;
  font-size: 170%;
  font-weight: normal;
}
/* line 66, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo .features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #999999;
}
/* line 72, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo li {
  padding: .25em 0;
}
/* line 75, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo .brief {
  color: #f9f9f9;
}
/* line 78, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo .price {
  margin: .5em 0;
  padding: .25em 0;
  background: #292b2e;
  font-size: 250%;
  color: #f9f9f9;
}
/* line 85, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo .buy {
  margin: 1em 0 0;
}
/* line 88, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo button {
  padding: 1em 3.25em;
  border: none;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  cursor: pointer;
}
/* line 95, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.promo button:hover {
  background: #27282b;
}

/* line 101, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.scale button {
  background: #F98C74;
}
/* line 103, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
.scale button:hover {
  background: #f76443;
}
@media (min-width: 40em) {
  /* line 100, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
  .scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }
  /* line 111, /home/bruno/develop/public/pooliticos/app/assets/stylesheets/pricing_table.css.scss */
  .scale .price {
    color: #F98C74;
  }
}
