nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"]
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll[href="#page-top"]
        | Poolíticos
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.page-scroll[href="#about"]
            | Sobre
        li
          a.page-scroll[href="#services"]
            | Serviços
        li
          a.page-scroll[href="#plans"]
            | Planos
        li
          a.page-scroll[href="#contact"]
            | Contato
        li
          = link_to 'Acessar', new_user_session_url
header
  .header-content
    .header-content-inner
      h1
        | Conquiste seus eleitores de uma vez por todas
      hr
      p
        | Com o POOLÍTICOS você envia email marketing para as pessoas e elas ficam conhecendo sua proposta de governo, capriche no texto e conquiste mais eleitores!
      a.btn.btn-primary.btn-xl.page-scroll[href="#about"]
        | Veja muito Mais
section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading
          | Nós temos o que você precisa
        hr.light
        p.text-faded
          | Juntos podemos capturar o seu eleitorado, com envios de email marketing segmentados por idade e CEP. Desta forma cada grupo de pessoas saberá o que você tem a dizer mesmo sem vê-lo na televisão.
        a.btn.btn-default.btn-xl.start-now.page-scroll[href="#plans"]
          | Começar agora!
section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading
          | O que ofereçemos
        hr.primary
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
          h3
            | Plataforma Simples
          p.text-muted
            | Em poucos cliques sua plataforma estará configurada e pronta para uso.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary[data-wow-delay=".1s"]
          h3
            | Envio de email
          p.text-muted
            | Cadastre seu conteúdo que o envio é por nossa conta.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary[data-wow-delay=".2s"]
          h3
            | Relatórios
          p.text-muted
            | Receba relatórios de entrega e de cliques em seu email.
      .col-lg-3.col-md-6.text-center
        .service-box
          i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary[data-wow-delay=".3s"]
          h3
            | Feito com carinho
          p.text-muted
            | Apostamos que juntos podemos mudar o Brasil!
aside.bg-dark
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading
          | Nossos Planos
        hr.primary

section#plans.no-padding.bg-dark
  .container-fluid
    .promos
      - @plans.each do |plan|
        .promo class=('scale' if plan.featured?)
          h4 = plan.name
          ul.features
            li.brief = plan.subtitle
            li.price = number_to_currency(plan.price)
            - plan.description.split("\n").each do |item|
              = content_tag(:li, item)
            li.buy
              = link_to 'Compre agora!', new_user_registration_path(plan_id: plan.id), class: 'btn btn-primary btn-md wow tada'

aside.bg-dark

section#contact
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading
          | Ainda está em dúvida?
        hr.primary
        p
          | Fique à vontade para entrar em contato conosco por meio do email e telefones abaixo, ficaremos felizes em atendê-lo!
      .col-lg-4.col-lg-offset-2.text-center
        i.fa.fa-phone.fa-3x.wow.bounceIn
        p
          | (046) 9981-0133
      .col-lg-4.text-center
        i.fa.fa-envelope-o.fa-3x.wow.bounceIn[data-wow-delay=".1s"]
        p
          a[href="mailto:alnhcl1@gmail.com"]
            | nosso email para contato
