doctype html
html
  head
    title
      | Pooliticos
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    link[href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-0UBL8wxZ28kqJ8w8N8RUV0odBG5w8D/Y+rb+o7hr2F3dS9twlAE8S7VUtVSRe5cc" crossorigin="anonymous"]
    = favicon_link_tag 'icon.png'
    = csrf_meta_tags
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand[href="/"]
            = image_tag 'brand-white.png', alt: 'Logo'
    .container
      .col-md-4.col-md-offset-4
        = notices
        = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
